node_modules/
dist/
.vite/
.cache/
.DS_Store
*.log
coverage/
tmp/
Doc.pdf
1.png
课件/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
unity/**/Library/
unity/**/Temp/
unity/**/Obj/
unity/**/Build/
unity/**/Builds/
unity/**/Logs/
unity/**/UserSettings/
unity/**/MemoryCaptures/
unity/**/.vs/
*.docx
__pycache__/
*.pyc
Preview/
